@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
* ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Jakarta";
  src: url("/src/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsEB";
  src: url("/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "PoppinsL";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "PoppinsSB";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "PoppinsB";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

.color-change-animation {
  animation: colorChange 4s infinite alternate;
  transition: background 0.5s ease;
}

@keyframes colorChange {
  0% {
    background-color: #4a90e2;
  }
  100% {
    background-color: #8a2be2;
  }
}
